* {
  margin: 0;
  padding: 0;
}

header {
    background-color: grey;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header div a {
    color: white;
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
}
header div a:hover {
    color: wheat;
    font-size: 22px;
}

header div {
    margin-left: 20px;
    margin-right: 20px;
}

#about {
    width: 100%;
    height: 500px;
    background-color: coral;
}

#info {
    width: 100%;
    height: 500px;
    background-color: firebrick;
}

footer {
    width: 100%;
    height: 300px;
    background-color: slategray;
}
